    <ul>
        <link rel="stylesheet" href="/public/assets/backend/css/menuadmin.css">
        <li><a href="/sitio-admin/dashboard">Dashboard</a></li>
        <li><a href="#">Clientes</a>
            <ul>
                <li><a href="/sitio-admin/modulo-ingresar-clientes">Ingresar Clientes</a></li>
                <li><a href="/sitio-admin/modulo-listar-clientes">Listar Clientes</a></li>
            </ul>
        </li>
        <li><a href="#">Proveedores</a>
            <ul>
                <li><a href="/sitio-admin/modulo-ingresar-proveedor">Ingresar Proveedor</a></li>
                <li><a href="/sitio-admin/modulo-listar-proveedor">Listar Proveedor</a></li>
            </ul>
        </li>
        <li><a href="/sitio-admin/modulo-usuarios">Usuarios</a></li>
    </ul>
