/* Estilos para el menú principal */
ul {
    list-style-type: none; /* Quita los puntos de la lista */
    margin: 0; /* Elimina el margen exterior */
    padding: 0; /* Elimina el relleno interior */
    background-color: #f9f9f9; /* Color de fondo del menú */
    font-family: Arial, sans-serif; /* Tipo de fuente para el menú */
}

/* Estilos para los elementos de la lista del menú */
ul li {
    position: relative; /* Posición relativa para alinear el submenu */
    display: inline-block; /* Muestra los elementos en línea */
    border-right: 1px solid #ccc; /* Borde derecho entre elementos */
}

ul li:last-child {
    border-right: none; /* Elimina el borde derecho del último elemento */
}

/* Estilos para los enlaces dentro de los elementos de la lista del menú */
ul li a {
    display: block; /* Hace que los enlaces ocupen todo el espacio del bloque */
    padding: 15px 20px; /* Espaciado interno de los enlaces */
    color: #333; /* Color del texto del menú */
    text-decoration: none; /* Quita el subrayado de los enlaces */
    transition: background-color 0.3s; /* Transición suave al cambiar el color de fondo */
}

ul li a:hover {
    background-color: #e0e0e0; /* Color de fondo al pasar el mouse sobre el enlace */
}

/* Estilos para el submenu */
ul ul {
    display: none; /* Oculta el submenu por defecto */
    position: absolute; /* Posición absoluta para posicionar el submenu */
    background-color: #f0da1a; /* Color de fondo del submenu */
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1); /* Sombra del submenu */
    z-index: 1; /* Capa superior para que el submenu aparezca encima del contenido */
}

ul li:hover > ul {
    display: block; /* Muestra el submenu al pasar el mouse sobre el elemento padre */
}

/* Estilos para los elementos de la lista del submenu */
ul ul li {
    display: block; /* Muestra los elementos del submenu como bloques */
    border-bottom: 1px solid #080707; /* Borde inferior entre elementos del submenu */
}

ul ul li:last-child {
    border-bottom: none; /* Elimina el borde inferior del último elemento del submenu */
}

/* Estilos para los enlaces dentro de los elementos de la lista del submenu */
ul ul li a {
    padding: 10px 20px; /* Espaciado interno de los enlaces del submenu */
    color: #333; /* Color del texto del submenu */
    text-decoration: none; /* Quita el subrayado de los enlaces */
    transition: background-color 0.3s; /* Transición suave al cambiar el color de fondo */
}

ul ul li a:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el mouse sobre el enlace del submenu */
    border-color: #f0da1a;
}
